node_modules/
dist/
.env
.env.local
*.log
.DS_Store
.vite/
coverage/

.walle/


android/local.properties
android/app/build/
android/build/
android/.gradle/
android/capacitor-cordova-android-plugins/


# Built artifact; regenerate with npm run android:apk
wall-e-debug.apk

